
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: $third-color
}

#footer-main {
	background-color: $primary;
	padding-top: 2.8125rem;
	font-size: 0.685rem;
	padding-bottom: 1.8125rem;
}

#footer-bottom {
	padding-top: 1.40625rem;
	padding-bottom: 0.40625rem;
}