
/* ----------------------------------------------------------------

	shop.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Shop
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for shop pages. Thanks!
-----------------------------------------------------------------*/


/* Category
-----------------------------------------------------------------*/
.news {
	margin-bottom: 1.875rem;
	position: relative;

	&:hover {
		.news-image {
			position: relative;
			&::after {
				opacity: 50%;
			}
		}
	}

	.news-image {
		position: relative;

		&::after {
			@include transition(all 0.3s ease-in-out);
			
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: black;
			opacity: 20%;
		}
	}

	.news-info {
		position: absolute;
		left: 0;
		bottom: 3.5rem;
		margin-left: 2.2rem;
		margin-right: 4rem;

		.news-detail {
			font-family: $heading-font;
			font-size: $h3-font-size;
			line-height: 1.5;
			color: white;
			font-weight: 400;
		}

		.news-more {
			font-family: $body-font;
			font-size: 1rem;
			line-height: 1;
			color: white;
			font-weight: 300;
			margin-bottom: 0;
			@include transition(all 0.3s ease-in-out);

			&:hover {
				color: $body-color;
			}
		}
	}
}


/* Product
-----------------------------------------------------------------*/
.product {
	margin-bottom: 3.28125rem;
	position: relative;
	font-family: $body-font;
	line-height: 1 !important;

	.product-image {
		position: relative;
		text-align: center;

		a {
			display: inline-block;
			width: 100%;
			position: relative;

			img {
				width: 100%;
			}
		}

		> a:nth-of-type(2) {
			background-color: $white;
			opacity: 0;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			@include transition(all 0.3s ease-in-out);
		}

		&:hover {
			> a:nth-of-type(2) {
				z-index: 1;
				opacity: 1;
			}
		}
	}

	// Product Details on image
	&.product-on-image {
		.product-details {
			position: absolute;
			left: 0;
			width: 100%;
			bottom: 0;
			padding: 2.5rem 3.5rem;
			background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
		}

		.product-title {
			color: white;
		}

		.product-price {
			color: white;
		}
	}

	.product-details {
		padding: 1rem 0 0 0;
	}

	.product-title {
		color: black;
		font-family: $heading-font;
		font-size: 1.5rem;
		font-weight: 400;
		line-height: 1.25;
		margin-bottom: 1rem;
		display: inline-block;
		
		&.product-white {
			color: white;
		}
	}

	.product-price {
		color: black;
		font-family: $heading-font;
		font-size: 1.125rem;
		font-weight: 400;
		line-height: 1.25;
		margin-bottom: 1rem;
		
		&.product-white {
			color: white;
		}
	}

	.product-categories {
		a {
			color: $body-color;
			font-family: $body-font;
			font-size: 1rem;
			font-weight: 300;
			line-height: 1;
		}		
	}

	.product-deadline {
		color: $body-color;
		font-family: $body-font;
		font-size: 1rem;
		font-weight: 300;
		line-height: 1;
	}

	.onhot {
		color: $theme-color;		
		font-family: $body-font;
		font-size: $h6-font-size;
		font-weight: 700;
		text-transform: uppercase;
	}

	.onsale {
		background-color: $theme-color;
		border-radius: 0.5rem;
		color: $white;
		display: inline-block;
		font-family: $body-font;
		font-size: $h6-font-size;
		font-weight: 600;
		line-height: 1;
		text-transform: uppercase;
		padding: 0.125rem 0.25rem;
	}
}

.ads {
	position: relative;
	display: block;

	img {
		width: 100%;
	}

	.ads-content {
		position: absolute;
		top: 4rem;
		left: 3.5rem;
		padding-right: 3rem;

		h2 {
			font-size: 4rem;
			font-family: $heading-font;
			font-weight: 400;
			color: $heading-color;
			margin-bottom: 1.5rem;
		}
	}
}