
/* ----------------------------------------------------------------

	widgets.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Widgets
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for widgets. Thanks!
-----------------------------------------------------------------*/


.widget {

	.widget-social {
		span {
			background-color: $primary;
			display: inline-block;
			padding: 0.1rem 0;
			width: 2rem;
			text-align: center;
			margin-bottom: 0.2rem;
			color: $body-color ;
			margin-left: 0.125rem;
			@include transition(all 0.3s ease-in-out);
		}
		
		&:hover {	
			span {
				background-color: $heading-color;
			}		
		}
	}

	// Widget - Payments
	&.widget-payment {
		.payments {
			display: flex;
			justify-content: center;
	
			@include media-breakpoint-up(md) {
				justify-content: flex-end;
			}

			.payment-icon {
				text-align: center;
				margin-left: 0.4rem;
				width: 4rem;
				padding: 0.125rem 0;
				background-color: $primary;
				
				img {
					width: 3rem;
				}
			}
		}
	}
}

/* Widget - Products
-----------------------------------------------------------------*/
