
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
	.icon-header {
		h3 {
			color: #000;
		}

		p {
			color: #9d9d9d;
		}
	}
}